<div class="content-container">
  <navbar [title]="title" (filterTyped)="filterDogsList($event)">
    <h4 class="time-display">{{counter|async}}</h4>
  </navbar>

  <div class="row content">
    <div class="col-3 scroll">
      <dogs-list [dogs]="(dogs$|async)" [selected]="(selected$|async)" (dogClicked)="dogSelected($event)"></dogs-list>
    </div>
    <div class="col-9 scroll">
      <gallery [images]="(images$|async)" [selected]="selected" [busy]="dogSvc.fetchingImages">
      </gallery>
    </div>
  </div>
</div>